<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./include/head"); %>
</head>
<header>
    
    <%- include ("./include/header"); %>
</header>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/update/<%=userData._id%>"  method="post">

        <label for="category"  value="<%=userData.category %>">Choose category:</label>
        <select class="category" name="category">
		    <option value="Drinks">Drinks</option>
            <option value="Maincourse">MainCourse</option>
            <option value="Desserts">Desserts</option>
      </select>

        <label for="menu">menu</label>
        <input type="text" name="menu" value="<%=userData.menu %>" placeholder="menu" id="menu">

        <label for="price">price</label>
        <input type="text" name="price"   value="<%=userData.price %>"placeholder="price" id="price">

       

        <button>Update</button>
        
      </form>
</body>
</html>